<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div id="status">
        <table class="table" v-if="t300.length">
            <tr class="table-dark">
                <th>
                    Tåg 300 | {{t300[0].depDate}}
                </th>
                <th>
                    Ankomst
                </th>
                <th>
                    Avgång
                </th>
                <th>
                    Ny.Tid
                </th>
                <th>
                    Spår
                </th>
            </tr>
            <tr v-for="rad in t300">
                <td>
                    {{ rad.name }}
                </td>
                <td>
                    {{ fixTime(rad.arrTime) }}
                </td>
                <td>
                    {{ fixTime(rad.depTime) }}
                </td>
                <td>
                    {{ getTrack(rad, "300" ).time }}
                </td>
                <td>
                    {{ getTrack(rad, "300" ).track }}
                </td>
            </tr>
        </table>
        <table class="table" v-if="t301.length">
            <tr class="table-dark">
                <th>
                    Tåg 301 | {{t301[0].depDate}}
                </th>
                <th>
                    Ankomst
                </th>
                <th>
                    Avgång
                </th>
                <th>
                    Ny.Tid
                </th>
                <th>
                    Spår
                </th>
            </tr>
            <tr v-for="rad in t301">
                <td>
                    {{ rad.name }}
                </td>
                <td>
                    {{ fixTime(rad.arrTime) }}
                </td>
                <td>
                    {{ fixTime(rad.depTime) }}
                </td>
                <td>
                    {{ getTrack(rad, "301" ).time }}
                </td>
                <td>
                    {{ getTrack(rad, "301" ).track }}
                </td>
            </tr>
        </table>
    </div>
        <textarea id="xml" cols="80" rows="20" style="display:none">
            <REQUEST>
                <LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" />
                <QUERY objecttype="TrainAnnouncement" schemaversion="1.6" orderby="AdvertisedTrainIdent asc, AdvertisedTimeAtLocation asc, ActivityType asc">
                    <FILTER>
                        <AND>
                            <OR>
                                <EQ name="AdvertisedTrainIdent" value="300" />
                                <EQ name="AdvertisedTrainIdent" value="301" />
                            </OR>
                            <EQ name="Advertised" value="true" />
                        </AND>
                    </FILTER>
                    <INCLUDE>AdvertisedTrainIdent</INCLUDE>
                    <INCLUDE>AdvertisedTimeAtLocation</INCLUDE>
                    <INCLUDE>LocationSignature</INCLUDE>
                    <INCLUDE>ActivityType</INCLUDE>
                    <INCLUDE>FromLocation</INCLUDE>
                    <INCLUDE>ToLocation</INCLUDE>
                    <INCLUDE>TrackAtLocation</INCLUDE>
                    <INCLUDE>EstimatedTimeAtLocation</INCLUDE>
                    <INCLUDE>TimeAtLocation</INCLUDE>
                </QUERY>
            </REQUEST>
        </textarea>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var statusapp = new Vue({
                el: '#status',
                data: {
                    timetable: [],
                    banedenmark: {},
                    dbn: {},
                    t300: [],
                    t301: []
                },
                created: function () {
                    this.get300();
                    this.get301();
                    this.sendtrv();
                    var then = this;
                    var hojewebSocket = new WebSocket("wss://labapiprod.dinstation.dk/api/ws/departure/HT%C3%85/");
                        hojewebSocket.onmessage = function (event) {
                            var trains = JSON.parse(event.data).data.Trains;
                            for(var i = 0; i < trains.length; i++){
                                if(trains[i].Product == "HV" && trains[i].Routes[0].DestinationStationId === "PAGR"){
                                    then.$set(then.banedenmark, 301 ,trains[i]);
                                }
                                if(trains[i].Product == "HV" && trains[i].Routes[0].DestinationStationId === "PHM"){
                                    then.$set(then.banedenmark, 300 ,trains[i]);
                                }
                            }
                        }
                },
                methods: {
                    getTrack: function(stop, train){
                        var stype;
                        if(stop.arrDate){
                            stype="arrival";
                            date=stop.arrDate;
                            time=stop.arrTime;
                        } else {
                            stype="departure";
                            date=stop.depDate;
                            time=stop.depTime;
                        }
                        var stopData = this.stationToDict(stop.id);
                        if( stopData.rt == "trv"){
                            var message = this.timetable.find(
                                trainMessage=>trainMessage.LocationSignature == stopData.trv &&
                                trainMessage.AdvertisedTimeAtLocation.startsWith(date) &&
                                trainMessage.AdvertisedTrainIdent == train);
                            if(message){
                                console.log(message, train, date)
                                if(message.TimeAtLocation){
                                    console.log(1)
                                    return{ "track":message.TrackAtLocation, "time":"Avgick "+message.TimeAtLocation.substring(11,16)};
                                } else if (message.EstimatedTimeAtLocation) {
                                    console.log(2)
                                    return{ "track":message.TrackAtLocation, "time":"Beräknad "+message.EstimatedTimeAtLocation.substring(11,16)}
                                } else {
                                    console.log(3)
                                    return {"track":message.TrackAtLocation, "time":""};
                                }
                            }
                        } else if (stopData.rt == "dbnetz"){
                            if(this.dbn[stopData.dbnetz+train]){
                                return {"track":this.dbn[stopData.dbnetz+train].track, "time":""};
                            } else {
                                this.dbn[stopData.dbnetz+train] = {"track":""};
                                this.getForStation(stopData.dbnetz, date+"T"+time, stype)
                            }
                        } else if (stopData.rt == "banedenmark"){
                            if(this.banedenmark[train]){
                                if(this.banedenmark[train].TrainDeparted !== "01-01-0001 00:00:00"){
                                    return {"track":this.banedenmark[train].TrackCurrent, "time":"Avgick " + this.banedenmark[train].TrainDeparted.split(" ")[1].substring(0,5)};
                                } else if (this.banedenmark[train].EstimatedTimeDeparture !== "01-01-0001 00:00:00"){
                                    return {"track":this.banedenmark[train].TrackCurrent, "time":"Beräknad " + this.banedenmark[train].EstimatedTimeDeparture.split(" ")[1].substring(0,5)};
                                } else {
                                    return {"track":this.banedenmark[train].TrackCurrent, "time":""};
                                }
                            }
                        }
                        return {"track":"","time":""};
                    },
                    get300: function(){
                        var that = this;
                        function set300(data){
                            that.t300 = data.Trip[0].LegList.Leg[0].Stops.Stop;
                        }
                        var thisdate = new Date(new Date().getTime() - (16 * 60 * 60 * 1000)).toISOString().substring(0,10);
                        this.getData("https://api.resrobot.se/v2/trip?key=78d03ab5-d9bc-4734-9e09-70ee80d286f9&destId=740098548&originId=800060110&format=json&date="+thisdate+"&operators=380&time=12:00").then(
                            set300
                        )

                    },
                    get301: function(){
                        var that = this;
                        function set301(data){
                            that.t301 = data.Trip[0].LegList.Leg[0].Stops.Stop;
                        }
                        var thisdate = new Date(new Date().getTime() - (16 * 60 * 60 * 1000)).toISOString().substring(0,10);
                        this.getData("https://api.resrobot.se/v2/trip?key=78d03ab5-d9bc-4734-9e09-70ee80d286f9&destId=800060110&originId=740098548&format=json&date="+thisdate+"&operators=380&time=12:00").then(
                            set301
                        )

                    },
                    stationToDict: function(samtrafid){
                        var list = [
                            {"name":"Berlin Gesundbrunnen (Tyskland)","samtraf":"800010102","trv":"De.ber","dbnetz":"8011102","rt":"dbnetz"},
                            {"name":"Berlin Hbf (Tyskland)","samtraf":"800010100","trv":"De.ber","dbnetz":"8011160","rt":"dbnetz"},
                            {"name":"Hamburg Hbf (Tyskland)","samtraf":"800020400","trv":"De.ham","dbnetz":"8002549","rt":"dbnetz"},
                            {"name":"Høje Taastrup (Danmark)","samtraf":"860000798","trv":"Dk.höj","dbnetz":"","rt":"banedenmark"},
                            {"name":"Malmö Centralstation","samtraf":"740000003","trv":"M","dbnetz":"","rt":"trv"}
                        ];
                        return list.find(stop=>stop.samtraf==samtrafid)
                    },
                    fixDate: function (date){
                        var delar = date.split(" ");
                        var datumdelar = delar[0].split("-");
                        return datumdelar[2]+"-"+datumdelar[1]+"-"+datumdelar[0]+"T"+delar[1]+".000+02:00";
                    },
                    fixTime: function(time){
                        if(time){
                            return time.substring(0,5);
                        }
                        return "";
                    },
                    getForStation: function (sid, dateTime, stype){
                        var then = this;
                        var sid2 = sid;
                        function hitta(data){
                            if(data[0].name.split(" ")[1] == "300" || data[0].name.split(" ")[1] == "301"){
                                then.$set(then.dbn,sid2+data[0].name.split(" ")[1],data[0]);
                                then.$forceUpdate();
                            }
                        }
                        var url2 = 'https://api.deutschebahn.com/freeplan/v1/'+stype+'Board/'+sid+
                                '?date='+dateTime
                        this.getData(url2).then(hitta);
                    },
                    sendtrv: function (id){
                        var then = this;
                        this.postData(
                            'https://api.trafikinfo.trafikverket.se/v2.0/data.json',
                            document.getElementById("xml").value)
                            .then(data => {
                                then.timetable = data.RESPONSE.RESULT[0].TrainAnnouncement;

                            }
                        );
                    },
                    postData: async function(url = '', data = {}) {
                        // Default options are marked with *
                        const response = await fetch(url, {
                            method: 'POST', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'omit', // include, *same-origin, omit
                            headers: { 'Content-Type': 'text/xml'},
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                            body: data // body data type must match "Content-Type" header
                        });
                        return response.json(); // parses JSON response into native JavaScript objects
                    },
                    getData: async function (url = '') {
                        // Default options are marked with *
                        const response = await fetch(url, {
                            method: 'GET', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'omit', // include, *same-origin, omit
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer'
                        });
                        return response.json(); // parses JSON response into native JavaScript objects
                    }
                }
            })
        </script>
        <!--
            ds100:
            https://fahrweg.dbnetze.com/resource/blob/1359908/f9d782b88f2c1224ac1192e2d4b5f6ff/betriebsstellen-data.pdf
            curl -X GET --header "Accept: application/xml" --header "Authorization: Bearer 2a71d5a2335896206f908ed2b9035853" "https://api.deutschebahn.com/timetables/v1/plan/8011102/210715/19"
            curl -X GET --header "Accept: application/xml" --header "Authorization: Bearer 2a71d5a2335896206f908ed2b9035853" "https://api.deutschebahn.com/timetables/v1/fchg/8011102

        -->
    </body>
</html>



