<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div id="status">
        <table v-for="id in ['300','301']" class="table">
            <tr class="table-dark">
                <th>
                    Tåg: {{id}}
                </th>
                <th>
                    Ankomst
                </th>
                <th>
                    Avgång
                </th>
                <th>
                    Ny.Tid
                </th>
                <th>
                    Spår
                </th>
            </tr>
            <tr v-for="rad in timetable" v-if="rad.AdvertisedTrainIdent == id">
                <td>
                    {{ stationToName(rad.LocationSignature) }}
                </td>
                <td v-if="rad.ActivityType.substring(0,3) == 'Ank'">
                    {{ rad.AdvertisedTimeAtLocation.substring(11,16) }}
                </td>
                <td v-else="">
                </td>
                <td v-if="rad.ActivityType.substring(0,3) == 'Avg'">
                    {{ rad.AdvertisedTimeAtLocation.substring(11,16) }}
                </td>
                <td v-else="">
                </td>
                <td>
                    --:--
                </td>
                <td>
                    {{ rad.TrackAtLocation }}
                </td>
            </tr>
        </table>
    </div>
        <textarea id="xml" cols="80" rows="20" style="display:none">
            <REQUEST>
                <LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" />
                <QUERY objecttype="TrainAnnouncement" schemaversion="1.6" orderby="AdvertisedTrainIdent asc, AdvertisedTimeAtLocation asc, ActivityType asc">
                    <FILTER>
                        <EQ name="AdvertisedTrainIdent" value="{{id}}" />
                    </FILTER>
                    <INCLUDE>AdvertisedTrainIdent</INCLUDE>
                    <INCLUDE>AdvertisedTimeAtLocation</INCLUDE>
                    <INCLUDE>LocationSignature</INCLUDE>
                    <INCLUDE>ActivityType</INCLUDE>
                    <INCLUDE>FromLocation</INCLUDE>
                    <INCLUDE>ToLocation</INCLUDE>
                    <INCLUDE>TrackAtLocation</INCLUDE>
                </QUERY>
            </REQUEST>
        </textarea><br>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var statusapp = new Vue({
                el: '#status',
                data: {
                    timetable: []
                },
                created: function () {
                    this.reload()
                    var then = this;
                    var hojewebSocket = new WebSocket("wss://labapiprod.dinstation.dk/api/ws/departure/HT%C3%85/");
                        hojewebSocket.onmessage = function (event) {
                            var trains = JSON.parse(event.data).data.Trains;
                            for(var i = 0; i < trains.length; i++){
                                if(trains[i].Product == "HV"){
                                    for(var j = 0; j < then.timetable.length; j++){
                                        if(
                                            then.timetable[j].LocationSignature == "Dk.höj" && 
                                            then.timetable[j].AdvertisedTimeAtLocation == then.fixDate(trains[i].ScheduleTime)
                                        )
                                        {
                                            then.timetable[j].TrackAtLocation = trains[i].TrackCurrent;
                                        }
                                    }
                                }
                            }
                        }

                    var hojewebSocket = new WebSocket("wss://labapiprod.dinstation.dk/api/ws/arrival/HT%C3%85/");
                        hojewebSocket.onmessage = function (event) {
                            var trains = JSON.parse(event.data).data.Trains;
                            for(var i = 0; i < trains.length; i++){
                                if(trains[i].Product == "HV"){
                                    for(var j = 0; j < then.timetable.length; j++){
                                        if(
                                            then.timetable[j].LocationSignature == "Dk.höj" && 
                                            then.timetable[j].AdvertisedTimeAtLocation == then.fixDate(trains[i].ScheduleTime)
                                        )
                                        {
                                            then.timetable[j].TrackAtLocation = trains[i].TrackCurrent;
                                        }
                                    }
                                }
                            }
                        }
                },
                methods: {
                    stationToName: function(id){
                        var data = {
                            "M":"Malmö",
                            "De.ber":"Berlin",
                            "De.ham":"Hamburg Hbf",
                            "Dk.höj":"Høje Taastrup"
                        };
                        return data[id];
                    },
                    fixDate: function (date){
                        var delar = date.split(" ");
                        var datumdelar = delar[0].split("-");
                        return datumdelar[2]+"-"+datumdelar[1]+"-"+datumdelar[0]+"T"+delar[1]+".000+02:00";
                    },
                    getForStation: function (sid, rad){
                        var raden = rad
                        function hitta(data){
                            if(rad.AdvertisedTrainIdent == data[0].name.split(" ")[1]){
                                rad.TrackAtLocation = data[0].track;
                            }
                        }
                        var url = 'https://api.deutschebahn.com/freeplan/v1/departureBoard/'+sid+
                                '?date='+rad.AdvertisedTimeAtLocation.substring(0,16)
                        this.getData(url).then(hitta);
                    },
                    reload: function(){
                        this.timetable = [];
                        this.sendtrv("300");
                        this.sendtrv("301");
                    },
                    sendtrv: function (id){
                        var then = this;
                        this.postData(
                            'https://api.trafikinfo.trafikverket.se/v2.0/data.json',
                            document.getElementById("xml").value.replace("{{id}}",id))
                            .then(data => {
                                var firstone = false;
                                for(var i = 0; i < data.RESPONSE.RESULT[0].TrainAnnouncement.length; i++){
                                    rad = data.RESPONSE.RESULT[0].TrainAnnouncement[i];
                                    if(
                                        rad.FromLocation[0].LocationName == rad.LocationSignature && 
                                        firstone
                                    ){
                                        break;
                                    }
                                    if(rad.FromLocation[0].LocationName == rad.LocationSignature){
                                        firstone = true;
                                    }
                                    if(firstone){
                                        then.timetable.push(rad);
                                        if(rad.LocationSignature == "De.ber"){
                                            then.getForStation("8011160", rad);
                                            then.getForStation("8011102", rad);
                                        } else if (rad.LocationSignature == "De.ham"){
                                            then.getForStation("8002549", rad);
                                        } else if (
                                            rad.LocationSignature == "Dk.höj" && 
                                            rad.AdvertisedTrainIdent == "300"
                                        )
                                        {
                                            rad.TrackAtLocation = 3;
                                        } else if (
                                            rad.LocationSignature == "Dk.höj" && 
                                            rad.AdvertisedTrainIdent == "301"
                                        )
                                        {
                                            rad.TrackAtLocation = 1;
                                        }
                                        if(rad.ToLocation[0].LocationName == rad.LocationSignature){
                                            break;
                                        }
                                    }
                                }
                            }
                        );
                    },
                    postData: async function(url = '', data = {}) {
                        // Default options are marked with *
                        const response = await fetch(url, {
                            method: 'POST', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'omit', // include, *same-origin, omit
                            headers: { 'Content-Type': 'text/xml'},
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                            body: data // body data type must match "Content-Type" header
                        });
                        return response.json(); // parses JSON response into native JavaScript objects
                    },
                    getData: async function (url = '') {
                        // Default options are marked with *
                        const response = await fetch(url, {
                            method: 'GET', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'omit', // include, *same-origin, omit
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer'
                        });
                        return response.json(); // parses JSON response into native JavaScript objects
                    }
                }
            })
        </script>
        <!--
            https://fahrweg.dbnetze.com/resource/blob/1359908/f9d782b88f2c1224ac1192e2d4b5f6ff/betriebsstellen-data.pdf
        -->
    </body>
</html>




